@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Slab', sans-serif;
}

footer {
  margin-top: 30px;
  text-align: center;
}

#navBar {
  background-color: transparent;
}

#newsletter {
  background-color: #d7d7d8;
}

html {
  background-color: #e6e6e6;
}

.line {
  margin-bottom: 20px;
}

