@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Slab', sans-serif;
}

footer {
  margin-top: 30px;
  text-align: center;
}

#appBar {
  background-color: transparent;
}

html {
  background-color: #2A324B;
}

.line {
  margin-bottom: 20px;
}

